@font-face{
    src:url('../mif/metro.ttf') format('truetype'),
    url('../mif/metro.woff') format('woff');
}
body{
    margin:0;
    padding:0;
}
.header-menu >li>a{
    font-size:80% !important;
}
.header-menu-wrapper{
    margin:0px !important;
    padding:0px !important;
    padding-top: 25px !important;
    margin-top: -25px !important;
}
.main-menu > li > a{
    text-align: left !important;
}
.slider{
    margin-top:145px !important;
    min-height:350px !important;
}

.border-btn{
    border-radius: 4px !important;
}
.cart-header-content{
    font-size:125% !important;
    font-weight:600;
    text-align: center !important;
}
.my-card-item{
    transition: box-shadow 0.2s ease-in-out;
}
.my-card-item:hover{
    -webkit-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    -moz-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
}
.card-content{
    text-align: center !important;
}

.title{
    width:22%;
    padding:2px 0px;
    padding-left:5px;
    position: relative;
   
}
.title:after{
    content : '';
    position: absolute;
    width:22px;
    height:22px;
    top:0;
    left:100%;
    transform: rotate(-45deg); 
    background:inherit;
}

.middle-header{
    min-height:60px !important;
    background:#ffffff;
    margin-top:34px;
}

.top-header-bg{
    background:rgb(240, 240, 240);
}
.main-menu-wrapper{
    margin-top:90px !important;
    background : #0287ca !important;
}
.main-menu{
    background : #0287ca !important;
}



.arrow {
    font-size: 0;
    width:100%;
    margin-bottom:7px;
}
.inner-arrow {
	width:auto;
	height:40px;
    display: inline-block;
	background-color:#f7890c;
    text-align: left;
    padding:0px 20px;
	font-size:20px;
	font-weight:600;
	line-height:40px;
    vertical-align: middle;
    margin-left:-32px !important;
}
.arrow:before,
.arrow:after {
	content:'';
    display: inline-block;
	width:0;
	height:0;
	border:20px solid transparent;
    vertical-align: middle;
}

.arrow:after {
	border-left-color: #f7890c;
}


.lighten-arrow .inner-arrow{
    background:rgb(212, 212, 212) !important;
}

.lighten-arrow:after {
	border-left-color: rgb(212, 212, 212) !important;
}
.fg-grey{
    color:rgb(99, 99, 99);
}
.main-footer{
    background:	#0287CA!important;
}

.my-btn{
    background: #0287ca;
    color:white;
}
.my-btn:hover{
    background: #0175af !important;
}
.my-login-form-color{
    color:#00689c;
}
.my-btn-dk{
    background: #e4e4e4;
    color:rgb(149, 149, 149);
}

.my-remember{
    text-decoration: none !important;
    color:#00979c;
}
.my-tieude{
    color: #a7a7a7;
}

.my-form-group{
    margin-top : 3px !important;
}
.price-text{
    color:#000000;
}
.my-sale{
    color:#e70707;
}
.my-shop{
    background:#e70707 !important;
}
.tab-content{
    border: -10px solid #ddd;
    border-top: none;
    padding: 10px;

}
.tab-image > img{
    width: 70%;
}
.my-btn-mota:hover{
    background: #696a6b !important;
}
