@font-face{
    src:url('../mif/metro.ttf') format('truetype'),
    url('../mif/metro.woff') format('woff');
}
body{
    margin:0;
    padding:0;
}
.header-menu >li>a{
    font-size:80% !important;
}
.header-menu-wrapper{
    margin:0px !important;
    padding:0px !important;
    padding-top: 25px !important;
    margin-top: -25px !important;
}
.main-menu > li > a{
    text-align: left !important;
}
.main-menu > li:hover{
    background:#006091!important;
}
.slider{
    margin-top:145px !important;
    min-height:300px !important;
}

.border-btn{
    border-radius: 4px !important;
}
.cart-header-content{
    font-size:125% !important;
    font-weight:600;
    text-align: center !important;
}
.my-card-item{
    transition: box-shadow 0.2s ease-in-out;
}
.my-card-item:hover{
    -webkit-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    -moz-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
}
.card-content{
    text-align: center !important;
}

.title{
    width:22%;
    padding:2px 0px;
    padding-left:5px;
    position: relative;
   
}
.title:after{
    content : '';
    position: absolute;
    width:22px;
    height:22px;
    top:0;
    left:100%;
    transform: rotate(-45deg); 
    background:inherit;
}

.middle-header{
    min-height:60px !important;
    background:#ffffff;
    margin-top:34px;
}

.top-header-bg{
    background:rgb(240, 240, 240);
}
.main-menu-wrapper{
    margin-top:90px !important;
  
}
.main-menu{
   
}



.arrow {
    font-size: 0;
    width:100%;
    margin-bottom:7px;
}
.inner-arrow {
	width:auto;
	height:40px;
    display: inline-block;
	background-color:#f7890c;
    text-align: left;
    padding:0px 20px;
	font-size:20px;
	font-weight:600;
	line-height:40px;
    vertical-align: middle;
    margin-left:-32px !important;
}
.arrow:before,
.arrow:after {
	content:'';
    display: inline-block;
	width:0;
	height:0;
	border:20px solid transparent;
    vertical-align: middle;
}

.arrow:after {
	border-left-color: #f7890c;
}


.lighten-arrow .inner-arrow{
    background:rgb(212, 212, 212) !important;
}

.lighten-arrow:after {
	border-left-color: rgb(212, 212, 212) !important;
}
.fg-grey{
    color:rgb(99, 99, 99);
}
.main-footer{
  
}

.my-btn{
    background: #0287ca;
    color:white;
}
.my-btn:hover{
    background: #0175af !important;
}
.my-login-form-color{
    color:#00689c;
}
.my-btn-dk{
    background: #e4e4e4;
    color:rgb(149, 149, 149);
}

.my-remember{
    text-decoration: none !important;
    color:#00979c;
}
.my-tieude{
    color: #a7a7a7;
}

.my-form-group{
    margin-top : 3px !important;
}
.price-text{
    color:#000000;
}
.my-sale{
    color:#e70707;
}
.my-shop{
    background:#e70707 !important;
}
.tab-content{
    border: -10px solid #ddd;
    border-top: none;
    padding: 10px;

}
.tab-image > img{
    width: 70%;
}
.my-btn-mota:hover{
    background: #696a6b !important;
}
.my-cart{
    margin-top:145px !important;
}
.my-text{
font-size:20px;
}
.my-btn-text:hover{
color:#f80ba9;
}
.qty input {
    width: 65px;
    text-align: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
.my-bin{
      color:#ff0000;
  }
.my-color-about{
    color:#797373f5 !important;
}
.my-btn-contact{
    color:#0a0a0a;
}
.text-center-chuyentrang{
    text-align: center !important;
}
#previewImage > *{
    text-align: center;
}
.success-toast{
    position: absolute;
    top:8%;
    left:70% !important;
 /* width:100%; */
    height:35px !important; 
}


.slider-wrapper{
    position: relative;
    width:840px;
    height:300px;
    float: left;
}

#my-slider{
    
    width:840px;
    height:300px;
    overflow: hidden;
    position: relative;
}
#my-slider > .sliders{
    width:2520px;
    height:300px;
    display:block;
}
#my-slider > .sliders > .image{
    float:left;
}


.bg-custom-blue{
    background:#00689c;
}
.prev{
    position: absolute;
    z-index: 1;
    left:-0 !important;
    top:41%;
}
.next{
    position: absolute;
    z-index: 1;
    right:0% !important;
    top:41%;
}
.prev:hover{
    cursor: pointer;
}

.next:hover{
    cursor: pointer;
}


.logo >span{
    font-size:30px !important;
    color:rgb(77, 77, 77);
}
.logo .special{
    font-size:35px !important;
}
.orange{
    color : #f7890c !important;
}
.bold-blue{
    color :#00689c !important;
}