@font-face{
    src:url('../mif/metro.ttf') format('truetype'),
    url('../mif/metro.woff') format('woff');
}
body{
    margin:0;
    padding:0;
    background:#fafafa;
}
.header-menu >li>a{
    font-size:80% !important;
}
.header-menu-wrapper{
    margin:0px !important;
    padding:0px !important;
    padding-top: 25px !important;
    margin-top: -25px !important;
}
.main-menu > li > a{
    text-align: left !important;
}
.main-menu > li:hover{
    background:rgb(5, 65, 114)!important;
}
.slider{
    margin-top:145px !important;
    min-height:300px !important;
}

.border-btn{
    border-radius: 4px !important;
}
.cart-header-content{
    font-size:125% !important;
    font-weight:600;
    text-align: center !important;
}
.my-card-item{
    transition: box-shadow 0.2s ease-in-out;
}
.my-card-item:hover{
    -webkit-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    -moz-box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
    box-shadow: 0px 1.5px 5px 0px rgba(133,128,133,1);
}
.card-content{
    text-align: center !important;
}


.middle-header{
    min-height:33px !important;
    background:#ffffff;
    margin-top:34px;
}

.top-header-bg{
    background:rgb(245, 245, 245);
}
.main-menu-wrapper{
    margin-top:90px ;
    z-index:5 !important;
}
.login-register-menu-wrapper{
    margin-top:0px !important;
}
.main-menu{
   
}
.edit-close-btn{
    background:red;
}
.edit-close-btn:hover{
    cursor: pointer !important;
}





.main-footer{
  
}

.my-btn{
    background: #0287ca;
    color:white;
}
.my-btn:hover{
    background: #0175af !important;
}
.my-login-form-color{
    color:#07518E;
}
.my-btn-dk{
    background: #e4e4e4;
    color:rgb(149, 149, 149);
}

.my-remember{
    text-decoration: none !important;
    color:#00979c;
}
.my-tieude{
    color: #a7a7a7;
}

.my-form-group{
    margin-top : 3px !important;
}
.price-text{
    color:#000000;
}
.my-sale{
    color:#e70707;
}
.my-shop{
    background:#e70707 !important;
}
.tab-content{
    border: -10px solid #ddd;
    border-top: none;
    padding: 10px;

}
.tab-image > img{
    width: 70%;
}
.my-btn-mota:hover{
    background: #696a6b !important;
}
.my-cart{
    margin-top:145px !important;
}
.my-text{
font-size:20px;
}
.my-btn-text:hover{
color:#f80ba9;
}
.qty input {
    width: 65px;
    text-align: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
.my-bin{
      color:#ff0000;
  }
.my-color-about{
    color:#797373f5 !important;
}
.my-btn-contact{
    color:#0a0a0a;
}
.text-center-chuyentrang{
    text-align: center !important;
}
#previewImage > *{
    text-align: center;
}
.success-toast{
    position: absolute;
    top:8%;
    left:70% !important;
 /* width:100%; */
    height:35px !important; 
}


.slider-wrapper{
    position: relative;
    width:840px;
    height:300px;
    float: left;
}
.custom-table{
    min-height:600px;
}
#my-slider{
    
    width:840px;
    height:300px;
    overflow: hidden;
    position: relative;
}
#my-slider > .sliders{
    width:2520px;
    height:300px;
    display:block;
}
#my-slider > .sliders > .image{
    float:left;
}


.bg-custom-blue{
    background:#07518E;
}
.prev{
    position: absolute;
    z-index:1;
    left:0% !important;
    top:41%;
}
.next{
    position: absolute;
    z-index:1;
    right:0% !important;
    top:41%;
}
.prev:hover{
    cursor: pointer;
}

.next:hover{
    cursor: pointer;
}


.logo >img{
    display:block;
    margin-top:12px !important;
}




.search-bar{
    margin-top:10px;
    border:1.3px solid rgb(228, 228, 228);
    border-radius: 40px;
    height:35px;
}
.search-bar > .search-by{
    width:25%;
    float:left;
    height:32px;
    line-height:33px;
    border-radius: 40px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    text-align: center;
    border-right:1.3px solid rgb(223, 222, 222);
    position: relative;
}
.search-by-list{
    display:none;
    position: absolute;
    width:100%;
    margin:0 !important;
    padding: 0 !important;
    background:white;
    font-size:90%;
    left:1.5%;
    top:110%;
  
    border-radius: 4px;
    border-top:none !important; 
    z-index:10 !important;
}
.search-by > .cate{
    font-size: 85% !important;
}
.search-by-list > .selected-cate{
    display:none;
}

.search-by-list > p:hover{
    background:rgb(238, 238, 238);
    cursor: pointer;
}
.search-bar > .search-by > span{
   padding-top:0.5px !important;
}
.search-bar > .search-input{
    float:left;
    width:70%;
    height:30px !important;
    margin:1.5px 0px !important;
}
.search-bar > .search-input > input{
    height:30px !important;
    border:none !important;
    outline: none !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    padding-left:15px;
}
.search-bar > .search-input > input:focus{
    border:none !important;
    outline: none !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.search-bar > .search-input > input::placeholder{
   color:rgb(189, 189, 189);
   font-style:italic;
}



.search-bar > .search-icon{
    float:right;
    /* margin-right:2%; */
    width:5%;
    line-height:35px;
}

.search-bar > .search-icon >span{
    color:rgb(223, 222, 222) !important;
}

.products{
    position: relative;
    background:#ffffff;
}

.orange{
    color : #EE9106 !important;
}
.bold-blue{
    color :#07518E !important;
}


.bg-lighten-grey{
    background:rgb(207, 207, 207) !important;
    color:rgb(63, 63, 63) !important;
}

.arrow-lighten-grey:after{
    border-left-color: rgb(207, 207, 207) !important;
}
.arrow-lighten-grey:before{
    border-left-color: rgb(207, 207, 207) !important;
}


.bg-orange{
    background : #EE9106 !important;
}
.bg-bold-blue{
    background:#07518E !important;
}
.arrow-bold-blue:after{
    border-left-color: #07518E !important;
}
.arrow-bold-blue:before{
    border-left-color: #07518E !important;
}

.arrow-orange:after{
    border-left-color: #EE9106 !important;
}
.arrow-orange:before{
    border-left-color: #EE9106 !important;
}

.arrow {
    font-size: 0;
    width:100%;
    margin-bottom:7px;
    position: absolute;
    top:-2.5%;
    left:38%;
}
.inner-arrow {
    width:auto;
    color:white;
	height:40px;
    display: inline-block;
    text-align: left;
    padding:0px 20px;
	font-size:20px;
	font-weight:600;
	line-height:40px;
    vertical-align: middle;
    margin-left:-32px !important;
}

.arrow:before{
    content:'';
    display: inline-block;
	width:0;
    height:0;
    margin-right:32px !important; 
	border:20px solid transparent;
    vertical-align: middle;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.arrow:after {
	content:'';
    display: inline-block;
	width:0;
    height:0;
	border:20px solid transparent;
    vertical-align: middle; 
}

.product{
    border:1.2px solid rgb(236, 236, 236);
    border-radius: 4px;
    background:white;
}

.latest{
    border-top:2px solid #EE9106 !important;
}

.top-views{
    border-top:2px solid rgb(207, 207, 207) !important;
}

.hot-selling{
    border-top:2px solid #07518E !important;
}

.user-info > img{
  /* //  display:block; */
   /* // margin:auto; */
    border-radius: 50%;
}
.user-info{
    width:50%;
    position: relative;
    margin-top:12px;
   /* // line-height:30px; */
}
.shopping-cart-wrapper{
    width:50%;
    position: relative;
    /* text-align: center !important; */
   
    
}
.shopping-cart{
    display: block;
    width:33px;
    position: relative;
    margin:auto;
    height:30px;
    background:#07518E;
    margin-top:12px;
    border-radius: 50%;
}

.user-info-dropdown{
    display:none;
   
    position: absolute;
    width:100%;
    margin:0 !important;
    padding: 0 !important;
    background:white;
    font-size:90%;
    left:1.5%;
    top:120%;
  
    border-radius: 4px;
    z-index:10 !important;
}
.user-info-dropdown > p:hover{
    background:rgb(238, 238, 238);
    cursor: pointer;
}
.user-dd-icon:hover,.search-cate-dd-icon:hover{
    cursor: pointer !important;
}
.logout{
    border-top:1.2px solid rgb(201, 201, 201) !important;
}
.current-area{
    font-size:150% !important;
}

.custom-toast{
    margin-right:220px !important;
}
.cart-notify-area{
    display: none;
    position: absolute;
    width:170%;
    top:120%;
    right:0%;
    height:85px;
    border:1.3px solid rgb(226, 226, 226);
    border-radius: 6px;
}
.check-icon{
    border-radius: 50% !important;
    width:25px;
    height: 25px;
    padding-top:1px !important;
}
.mif-cancel:hover{
    cursor: pointer;
}
.main-container{
    margin-top:150px !important;
    min-height:800px !important;
}



.multiple-slider{
    position: relative;
    min-width:1140px !important;
    width:1140px !important;
}
.multiple-slider-wrapper{
    position: relative;
    width:1140px !important;
    height:auto;
    float: left;
}
.my-multiple-slider{
    width:1140px;
    height:auto;
    overflow: hidden;
    position: relative;
}
.my-multiple-slider > .sliders{
    width:2280px;
    display: block;
}


.single-item{
    width:190px !important;
    position: relative !important;
    display:block;
}
.single-item > img{
    width:190px !important;

}
.single-item-card{
    position: absolute !important;
   
    width:100%;
    bottom: -100%;
    background:black;
    color:rgb(255, 255, 255);
    text-align: center;
    padding:5%;
    height:40%;
    opacity: 0.7 ;
    z-index:3;
}
.prev-multiple{
    position: absolute;
    z-index:1;
    left:-2.5% !important;
    top:41%;
}
.next-multiple{
    position: absolute;
    z-index:1;
    right:-2.5% !important;
    top:41%;
}
.prev-multiple:hover{
    cursor: pointer;
}

.next-multiple:hover{
    cursor: pointer;
}
